:root {
  --main-grey-color: #757575;
  --black-color: #212121;
  --blue-color: #2196f3;
  --bg-color: #2f303a;
  --section-bgc: #f5f4fa;
}

/* скрываем ненужные нам штуки :) */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Общие стили */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* width: 1600px;

  margin: 0 auto;
  padding: 0; */
}

.btn {
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-header {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--black-color);

  background-color: tomato;
  outline: 2px tomato solid;
}

/* header */
.page-header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--blue-color);
}

.logo-part-header {
  color: #000000;
}

.nav-list .link {
  color: var(--black-color);
}

/* Текущая страница */
.nav-list .current {
  color: var(--blue-color);
}

.nav-list .link:hover,
.nav-list .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--blue-color);
}

.contacts-list .link {
  color: var(--main-grey-color);
}

/* hero section */
.hero {
  background-color: var(--bg-color);
}

.main-header {
  margin: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* features section */
.features-list-header {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  color: var(--black-color);
}

.features-list-description {
  margin: 0;

  line-height: calc(24 / 14);
  color: var(--main-grey-color);
}

/* section works */

/* team section */
.team-list-header {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-list-description {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-grey-color);
}

/* footer */
.foo {
  background-color: var(--bg-color);
}

.logo-part-footer {
  color: #fff;
}

.addres-list {
  font-style: normal;
  line-height: calc(24 / 14);
}

.addres-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addres-list .address-link {
  color: #ffffff;
}
